body{
    background-color:aliceblue;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1 {
    font-weight: bolder;
    font-stretch: ultra-condensed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : olivedrab;
    margin:20px;
}

svg {
    display:block;
    background-color:oldlace;
    width:100vw;
    height:100%;
    margin:auto;
}

.cell { 
    height:1005px;
    width:2px;
    color : blue;
}