body {
    background-color:lightgray;   
}

.title {
    position:absolute;
    left:50vw;
    top:0vh;
    transform: translate(-50%, 0 );
    width:fit-content;
}

.graph {
    margin: 0 auto;
    background-color: white; 
    margin-top: 10vh;  
}
  
  .tooltip {
    background-color: lightsalmon;
    border: 1px solid black;
    width: 100px;
    opacity: 0;
    color: black;
    position: absolute;
  }